body {
  margin: 10px;
}

.container {
  border: 3px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  align-content: center;
}

.box {
  flex-basis: 15rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex: 1 1 15rem;
  width: 5rem;
  height: 5rem;
  background: gold;
  margin: 1rem;
}

.box-one {
  /* flex-basis: 15rem;
  flex-grow: 2;*/
  /* flex-shrink: 0; */
}
