body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
  transition: transform 0.5s cubic-bezier(.05, -0.43, .36, .88) 0.5s, background 0.3s 0.5s;
}

.box:hover {
  transform: rotate(45deg);
  background: dodgerblue;
}