body {
  margin: 10px;
}

.boxes {
  border: 3px solid lightgrey;
}

.box {
  width: 5rem;
  height: 5rem;
}

.box-one {
  background: gold;
}

.box-two {
  background: tomato;
  position: relative;
  left: 4rem;
  top: -4rem;
  z-index: -1;
}

.box-three {
  background: dodgerblue;
}
